In [ ]:
#추가
배열 = [1,2,3,4,5]
print(배열)
배열.append(6)

[1, 2, 3, 4, 5]

In [ ]:
print(배열)

[1, 2, 3, 4, 5, 6]

In [ ]:
배열.append([1,2])

In [ ]:
print(배열)

[1, 2, 3, 4, 5, 6, [1, 2], [1, 2], [1, 2]]

In [ ]:
dir(배열)

['__add__',
 '__class__',
 '__contains__',
 '__delattr__',
 '__delitem__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__getitem__',
 '__gt__',
 '__hash__',
 '__iadd__',
 '__imul__',
 '__init__',
 '__init_subclass__',
 '__iter__',
 '__le__',
 '__len__',
 '__lt__',
 '__mul__',
 '__ne__',
 '__new__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__reversed__',
 '__rmul__',
 '__setattr__',
 '__setitem__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 'append',
 'clear',
 'copy',
 'count',
 'extend',
 'index',
 'insert',
 'pop',
 'remove',
 'reverse',
 'sort']

In [ ]:
배열2 = [3,10,19,100,1,17]

In [ ]:
print(배열2)

[3, 10, 19, 100, 1, 17]

In [ ]:
배열2.sort()

In [ ]:
print(배열2)

[1, 3, 10, 17, 19, 100]

In [ ]:
문자열배열=['z','c','d','가','다', '나']

In [ ]:
문자열배열.sort()
print(문자열배열)

['c', 'd', 'z', '가', '나', '다']

In [ ]:
섞인거 = [1,10,3,'b','c','d']

In [ ]:
print(섞인거)

[1, 10, 3, 'b', 'c', 'd']

In [ ]:
섞인거.sort()#문자와 숫자의 비교는 안댐

TypeError: ignored

In [ ]:
배열3 =[5,3,1]
print(배열3)

[5, 3, 1]

In [ ]:
배열3.reverse()
print(배열3)

[1, 3, 5]

In [ ]:
섞인거.reverse()
print(섞인거)#얘는 대소비교가 없으니 상관ㅇ벗음

[1, 3, 10, 'b', 'c', 'd']

In [ ]:
배열4 = [1,2,[1,2,3]]
print(배열4)

[1, 2, [1, 2, 3]]

In [ ]:
배열4.reverse()
print(배열4)

[[1, 2, 3], 2, 1]

In [ ]:
배열4[0].reverse()
print(배열4)

[[3, 2, 1], 2, 1]

In [ ]:
음식=["라면", "떡볶이", "커피", "짜장면","파스타", "불족발", "피자", "치킨"]
불족인덱스 = 음식.index("불족발")
print(불족인덱스)

5

In [ ]:
음식.index(소고기)
#배열안에 없는값은 에러가 남

In [ ]:
print(음식[음식.index("떡볶이"):음식.index("불족발")+1])

['떡볶이', '커피', '짜장면', '파스타', '불족발']

In [ ]:
음식.insert(음식.index("불족발"),"소고기")
print(음식)

['라면', '떡볶이', '커피', '짜장면', '파스타', '소고기', '불족발', '피자', '치킨']

In [ ]:
음식.pop()
print(음식)

['라면', '떡볶이', '커피', '짜장면', '파스타', '소고기', '불족발', '피자']

In [ ]:
음식.pop(2)

'커피'

In [ ]:
음식.remove("불족발")
print(음식)

['라면', '떡볶이', '짜장면', '파스타', '소고기', '피자']

In [ ]:
음식.pop()

In [ ]:
배열5=[1,1,1,2,3,4,4,"하이", "하이", 1,2]
하이개수=배열5.count("하이")
print(하이개수)

2

In [ ]:
배열6=[1,2,3]
배열7=[4,5,6]
배열6.extend(배열7)
print(배열6, "배열6")
print(배열7, "배열7")

[1, 2, 3, 4, 5, 6]
[4, 5, 6] 배열7

In [ ]:
배열8=[1,2,3]
배열9=배열8
print(배열8, "배열8")
print(배열9, "배열9")
배열9[0]=10
print(배열8, "배열8")
print(배열9, "배열9")

[1, 2, 3] 배열8
[1, 2, 3] 배열9
[10, 2, 3] 배열8
[10, 2, 3] 배열9

In [ ]:
배열10=[1,2,3,4,5]
print(배열10, "초기화 이전")
배열10.clear()
print(배열10, "초기화 이후")

In [ ]:
튜플=(1,2,3)
print(튜플)

(1, 2, 3)

In [ ]:
print(튜플[0])

1

In [ ]:
튜플[2]=10 #값을 바꿀 수 없어요

TypeError: ignored

In [ ]:
샘플배열=[1,2,3]
print(샘플배열)
del 샘플배열[0]
print(샘플배열)

[1, 2, 3]
[2, 3]

In [ ]:
변수 =1
print(변수)
del 변수
print(변수)

1

NameError: ignored

In [ ]:
튜플1=(1,2,3,[1,2,3])
print(튜플1)
튜플1[-1][0] = 10
print(튜플1)
print(튜플[0])

(1, 2, 3, [1, 2, 3])
(1, 2, 3, [10, 2, 3])
1

In [ ]:
딕셔너리 = {"키":"값"}
print(딕셔너리)
print(딕셔너리["키"])

{'키': '값'}
값

In [ ]:
print(type(딕셔너리))

<class 'dict'>

In [ ]:
회원정보 = {
    "이름" : '김보현',
    '번호' : '01056960763',
     '성별' : '남'

}
print(회원정보['이름'])
print(회원정보['번호'])
print(회원정보['성별'])

회원정보 ['주소'] = '제주시'
print(회원정보)

김보현
01056960763
남
{'이름': '김보현', '번호': '01056960763', '성별': '남', '주소': '제주시'}

In [ ]:
회원정보2={
    
  '이름' : '김보현',
  '번호' : '000000000',
  '주소' : '제주시',
  '이름' : '김보보'
}
print(회원정보2)

{'이름': '김보보', '번호': '000000000', '주소': '제주시'}

In [ ]:
샘플딕셔너리 = {
    "배열1":[1,2,3]
}
배열get = 샘플딕셔너리.get("배열1")
배열키로가져오기=샘플딕셔너리["배열1"]
print(배열get, 배열키로가져오기)
샘플딕셔너리["배열1[0]"] = 4
print(배열get, 배열키로가져오기)

[1, 2, 3] [1, 2, 3]
[1, 2, 3] [1, 2, 3]

In [ ]:
'직업' in 회원정보

False

In [ ]:
print(True)

True

In [ ]:
print(type(True))

<class 'bool'>

In [ ]:
숫자1= 10
숫자2= 20
결과1=숫자1<숫자2
print(결과1)

True

In [ ]:
if False:
  print("거짓입니다")

In [ ]:
if True:
  print("참입니다")

참입니다

In [ ]:
if not False:
  print("거짓입니다")

거짓입니다

In [ ]:
조건= False
if not 조건:
    print("거짓입니다")

In [ ]:
숫자1 = 1
숫자2 = 10
숫자3 = 15
if 숫자1>5:
  print("숫자1이5보다 큽니다")
elif 숫자2<11:
  print("숫자2가 11보다 작습니다")
else:
  print(숫자3, "마지막 숫자입니다.")

숫자2가 11보다 작습니다

In [ ]:
print(False and True)

False

In [ ]:
print(True or True)

True

In [ ]:
입력받은값=input()

10

In [ ]:
print(입력받은값)

10

In [ ]:
print(입력받은값 > 5)

TypeError: ignored

In [ ]:
print(type(입력받은값))

<class 'str'>

In [ ]:
숫자1= input()
숫자2= input()
if(int(숫자1)>int(숫자2)):
  print("첫번쨰 숫자가 더 큽니다")
elif(int(숫자1)==int(숫자2)):
  print("숫자가 같습니다")
else:
  print("두번쨰 숫자가 큽니다.")

20
10
첫번쨰 숫자가 더 큽니다

카운트 = 0
while 카운트<10:
    pirnt(카운트)
    카운트++

In [ ]:
카운트 = 0
while 카운트<10:
    print(카운트)
    카운트+=1

0
1
2
3
4
5
6
7
8
9

In [ ]:
카운트 = 0
while 카운트 < 6:
  if(카운트%2==1):
      print(카운트)
  카운트+=1

1
3
5

In [ ]:
for 숫자 in [10,1,2,3,4]:
  print(숫자)

10
1
2
3
4

In [ ]:
레인지 = range(10)# 순서가 있다

range(0, 10)

In [ ]:
for 숫자 in range(10):
  for 숫자2 in range(10):
    if(숫자 !=0 and 숫자2!=0):
      print(숫자, "x", 숫자2, "=", 숫자*숫자2)

1 x 1 = 1
1 x 2 = 2
1 x 3 = 3
1 x 4 = 4
1 x 5 = 5
1 x 6 = 6
1 x 7 = 7
1 x 8 = 8
1 x 9 = 9
2 x 1 = 2
2 x 2 = 4
2 x 3 = 6
2 x 4 = 8
2 x 5 = 10
2 x 6 = 12
2 x 7 = 14
2 x 8 = 16
2 x 9 = 18
3 x 1 = 3
3 x 2 = 6
3 x 3 = 9
3 x 4 = 12
3 x 5 = 15
3 x 6 = 18
3 x 7 = 21
3 x 8 = 24
3 x 9 = 27
4 x 1 = 4
4 x 2 = 8
4 x 3 = 12
4 x 4 = 16
4 x 5 = 20
4 x 6 = 24
4 x 7 = 28
4 x 8 = 32
4 x 9 = 36
5 x 1 = 5
5 x 2 = 10
5 x 3 = 15
5 x 4 = 20
5 x 5 = 25
5 x 6 = 30
5 x 7 = 35
5 x 8 = 40
5 x 9 = 45
6 x 1 = 6
6 x 2 = 12
6 x 3 = 18
6 x 4 = 24
6 x 5 = 30
6 x 6 = 36
6 x 7 = 42
6 x 8 = 48
6 x 9 = 54
7 x 1 = 7
7 x 2 = 14
7 x 3 = 21
7 x 4 = 28
7 x 5 = 35
7 x 6 = 42
7 x 7 = 49
7 x 8 = 56
7 x 9 = 63
8 x 1 = 8
8 x 2 = 16
8 x 3 = 24
8 x 4 = 32
8 x 5 = 40
8 x 6 = 48
8 x 7 = 56
8 x 8 = 64
8 x 9 = 72
9 x 1 = 9
9 x 2 = 18
9 x 3 = 27
9 x 4 = 36
9 x 5 = 45
9 x 6 = 54
9 x 7 = 63
9 x 8 = 72
9 x 9 = 81

In [ ]:

while(True):
    숫자=int(input())
    if(숫자==0):
        break;
    if(숫자>1 and 숫자<10):
      for 숫자3 in range(2,10):
        print(숫자, "X", 숫자3, "=", 숫자*숫자3)

3 X 2 = 6
3 X 3 = 9
3 X 4 = 12
3 X 5 = 15
3 X 6 = 18
3 X 7 = 21
3 X 8 = 24
3 X 9 = 27
2 X 2 = 4
2 X 3 = 6
2 X 4 = 8
2 X 5 = 10
2 X 6 = 12
2 X 7 = 14
2 X 8 = 16
2 X 9 = 18